<div class="modal fade" id="filtersModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Ordenado por</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <app-filter *ngFor="let filter of filtersList" [filter]="filter" [active]="false"></app-filter>
          </div>
          <div class="modal-footer">
              <button type="button" class="app-button" data-dismiss="modal">Close</button>
          </div>
      </div>
  </div>
</div>
