@import '../../../styles/colors.scss';

:host {
    .favorite-product {
        width: 100%;
        padding: 4px;
        background-color: white;
        box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        margin-bottom: 10px;
        &-image {
            height: 130px;
            width: 100%;
            background-color: lightgrey;
            background-position: center;
            background-size: cover;
            border-radius: 5px;
        }

        p {
            margin: 0;
        }

        button {
            position: relative;
            top: -155px;
            left: 185px;
            border: transparent;
            background-color: transparent;
        }
    }
}